<div [ngClass]="{'parentCommentBox': isParentComment}">
  <div class="thisCommentBox">
    <div *ngIf="!isParentComment" class="triangle-down"></div>
    <div class="thisCommentContent">
      <ion-label class="commentAuthor"><a href="{{'/profile/'+nestedComment.parent.by}}">{{nestedComment.parent.by | htmlToText}}</a></ion-label>
      <ion-label class="commentText">{{nestedComment.parent.text | htmlToText}}</ion-label>
      <ion-label class="commentTime">{{elapsedTime}}</ion-label>
    </div>
  </div>
  <ion-list lines="none">
    <ion-item *ngFor="let child of nestedComment.kids">
      <app-nested-comment *ngIf="child.parent.time" [nestedComment]="child"
        [isParentComment]="false"></app-nested-comment>
    </ion-item>
  </ion-list>
</div>