<!DOCTYPE html>
<title>Lista degli Articoli Preferiti</title>
</head>
<body>
<div *ngIf="favoriteArticles.length > 0">
  <div *ngFor="let article of favoriteArticles">
    <p>{{ article.title }}</p>
    <button (click)="removeFromFavorites(article)">Rimuovi dai preferiti</button>
  </div>
</div>

<p *ngIf="isFavoritesEmpty">Nessun articolo preferito al momento.</p>

<p *ngIf="isFavoritesEmpty">Aggiungi un nuovo articolo ai preferiti:</p>
<button *ngIf="isFavoritesEmpty" (click)="addToFavorites(favoriteArticles)">Aggiungi ai preferiti</button>
