
<ion-content [fullscreen]="false"  *ngIf="isUserReady(); then userCard else loading"></ion-content>
<ng-template #userCard>
  <ion-card>
    <ion-card-header>
      <h1 class="title">{{user!.id}}</h1>
    </ion-card-header>
   <ion-card-content>
      <ion-card *ngIf="user!.about !== undefined">
        {{user!.about | htmlToText}}
      </ion-card>
      <ion-list [inset]="true">
        <ion-item>
          <ion-label slot="start">Created:</ion-label>
          <ion-label>{{user!.created*1000 | date}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label slot="start">Karma:</ion-label>
          <ion-label>{{user!.karma}}</ion-label>
        </ion-item> 
        <ion-item *ngIf="user!.delay !== undefined">
          <ion-label slot="start">Delay:</ion-label>
          <ion-label>{{user!.delay}}</ion-label>
        </ion-item>
      </ion-list>
   </ion-card-content>
   <div  *ngIf="user!.submitted !== undefined; then subLink else mess"></div>
    <ng-template #subLink>
      <div class="container">
        <ion-button (click)="toArticles()">Articles</ion-button>
        <ion-button (click)="toComments()">Comments</ion-button>
      </div>
    </ng-template>
    <ng-template #mess><ion-label>No submission were created</ion-label></ng-template>
  </ion-card>
</ng-template>

<ng-template #loading>
  <ion-content *ngIf="loaded;then notFound else loadingAnim"></ion-content>
</ng-template>

<ng-template #notFound>
  <div class="center-content">
    <ion-label>User Not Found</ion-label>
  </div>
</ng-template>

<ng-template #loadingAnim>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>