<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h1 class="title">Personal</h1>
    </ion-card-header>
    <ion-list *ngIf="stats">
      <ion-item>
        <ion-item slot="start">
          Dayly read articles : {{stats.daily}}
        </ion-item>
      </ion-item>
      <ion-item slot="start">
        Monthly read articles : {{stats.monthly}}
      </ion-item>
      <ion-item slot="start">
        Yearly read articles: {{stats.yearly}}
      </ion-item>
      <ion-item slot="start">
        Most recurrent word in articles' title: {{stats.yearly}}
      </ion-item>
      <ion-item slot="start">
        Most read author: {{stats.yearly}}
      </ion-item>
      <ion-item slot="start">
        Most read author: {{stats.yearly}}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
