<div *ngIf="userComments.length > 0 && isAreCommentLoaded; then commentList else loading"></div>

<ng-template #commentList>
  <ion-content [fullscreen]="true">
    <div>
      <app-comment [userComments]="userComments"></app-comment>
    </div>
  </ion-content>
</ng-template>

<ng-template #loading>
  <div *ngIf="isAreCommentLoaded; then emptyCommentList else loadAnim"></div>
</ng-template>

<ng-template #emptyCommentList>
  <div class="center-content">
    <ion-label>This user hasn't commented in any article</ion-label>
  </div>
</ng-template>

<ng-template #loadAnim>
  <ion-progress-bar type="indeterminate" ></ion-progress-bar>
</ng-template>